html, body {
	margin: 0;
	font-family: sans-serif;
	height: 100%;
}
h1, h2 {
	font-weight: normal;
	margin: 10px 0;
}
#container {
	max-width: 480px;
	margin: auto;
	height: 100%;
}
header {
	height: 90px;
}
#game-wrapper {
	height: calc(100% - 90px);
	overflow: hidden;
	border: 4px solid black;
	border-bottom: none;
	position: relative;
}
#game {
	display: flex;
	flex-direction: column;
}
.row {
	height: 25%;
	width: 100%;
	display: flex;
}
.tile {
	height: 100%;
	width: 25%;
}
.tile.correct {
	background: #000;
}
.tile.clicked {
	background: #777;
}
#score {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	text-align: center;
	font-size: 50px;
	color: #3AE637;
}

@media screen and (max-width: 720px) {
	header {
		display: none;
	}
	#game-wrapper {
		height: 100%;
		border: none;
	}
}

